/*BUTTONs*/
/*button.btn.btn-primary.btn-lg {/*Take Quiz Button*/
    /*background-color: #F38630;
    font-size: 2.5em;
    text-shadow: 1px 1px 1px #000;
}

input.btn.btn-info {/*Quiz Submit button*/
    /*font-size: 2em;
    margin-top: 25px;
    border: outset;
    background-color: #69d2e7;
    text-shadow: 1px 1px 1px #000;
/*}*/

/*QUIZ*/
/*#container {*/
  /*display: none;*/
/*}*/
/*#quiz{
  display: none;
}
#quiz{
  background-color: #F38630;
  color: #fff;
  margin: 0 auto;
}
#quiz li {
  font-size: 1em;
  margin: 0 auto;
 }


 ul.col-md-6.text-center {
    border-radius: 5px;
    text-shadow: 2px 2px 5px #000;
    box-shadow: 2px 2px 5px #000;
}

li.quiz-questions {
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.5em;
    padding-bottom: 5px;
}*/





/*QUIZ RESULTS*/
/*#quizPrintOut{
  display:none;
}

div.well h3 {
    text-align: center;
}

div.well {
    background-color: #F38630;
    color: #fff;
    border-radius: 10px;
}

div.form-group ul li {
    font-weight: bold;
    border-bottom: #fff solid;
    padding-bottom: 5px;
}*/
/*
#name {
    background-color: ;
}

#email {
    background-color:;
}


#msg {
  text-align: center;
  width: 24em;
  height: 6em;
  color: #000;
}*/

/*Need to style contact-form*/


/*#header {
    background-color: #e0e4cc;
    font-size: 2em;
    font-weight: bold;
    height: 10%;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: -15px;
    padding-top: 20px;
    width: 100    border: tomato%;
}*/

/*button.btn.btn-primary.btn-lg ::hover {
    background-color: #F38630;
}

div.form-group ul li {
    border-bottom: #fff solid;
    font-weight: bold;
    padding-bottom: 5px;
}

div.well {
    background-color: #F38630;
    border-radius: 10px;
    color: #fff;
}

div.well h3 {
    text-align: center;
}*/

/*input.btn.btn-info ::hover {
    background-color: #a7dbd8;
}*/

/*li.quiz-questions {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 20px;
    padding-bottom: 5px;
}*/

/*ul.col-xs-6.col-md-6.text-center {
    border-radius: 5px;
    text-shadow: 2px 2px 5px #000;
}*/

/*button.btn.btn-primary.btn-lg {
    background-color: #FA6900;
    border: outset;
    font-size: 2.5em;
    text-shadow: 1px 1px 1px #000;
}*/
/*
div.jumbotron.text-center {
    text-shadow: 1px 1px 2px #000;
}

input.btn.btn-info {
    border: outset;
    font-size: 2em;
    margin-top: 25px;
    text-shadow: 1px 1px 1px #000;
}*/

/*li.quiz-questions input {
    display: inline;
    color: #000;
}*/
